@using System.Web.Helpers
@{
    ViewBag.Title = "ShowChart";
}

<h2>Ürün Raporu</h2>

<div class="row">
    <div class="col-sm-6">
        <img src="/Mychart/CreateChart" alt="Chart 0" />
    </div>
    <div class="col-sm-6">
        <img src="/Mychart/CreateChart?tip=Line&cache=3" alt="Chart 1" />
    </div>
    <div class="col-sm-6">
        <img src="/Mychart/CreateChart2" alt="Chart 2" />
    </div>
    <div class="col-sm-6">
        <img src="/Mychart/CreateChart2?tip=Doughnut&cache=4" alt="Chart 3" />
    </div>

</div>